
.navbar-nav > li{
    padding-left:-20px;
    padding-right:-20px;
}

.navbar-default .navbar-nav li a{
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;  /*Sets the text hover color on navbar*/
}
.navbar-default .navbar-nav{
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    margin-right: 55px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 10007;
    margin-top: 10px;

}

.navbar-default .navbar-collapse{
    border-bottom: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;

}


.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {color: #f1f1f1;}

@media screen and (max-width: 850px){
    .navbar-default .navbar-nav{
        margin-right: 30px;
    }
}

@media only screen and (max-width: 766px) {
    .navbar-default{margin:0px}
    .navbar-default .navbar-nav{height: 100vh; margin-left: 20px;}
    .navbar-default .navbar-collapse{ border: transparent}
    .navbar {background-color: #000; opacity: 0.8;}
    .collapsing, .in {background-color: #000;
        opacity: 0.8; height: 100%;}
    .navbar-default .navbar-nav > li > a{
        border-bottom: 2px solid #fff;
    }
}