body{
    background: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/*
MAIN PAGE
*/
#company_name{
    font-family: 'Rochester', cursive;
    color: #fff;
    font-size: 90px;
}

#company_desc{
    color: #fff;
    font-size: 20px;
    text-align: right;
    margin-top: 150px;
    margin-right: 60px;
}

#shop-box-wrapper{
    overflow:auto;
}
.shop-box {
    background: transparent;
    width: 15%;
    border: 2px solid #fff;
    float: right;
    margin-right: 60px;
}

.shop-box p{
    text-align: center;
    margin-top: 5%;
    color: #fff;
}


@media screen and (max-width: 680px){
    #company_name{
        font-size: 75px;
    }
    #company_desc{
        margin-right: 0px;
    }
    .shop-box{
        width: 50%;
        float: none;
        margin: 0 auto;
    }

}


@media screen and (max-width: 400px){
    #company_name{
        font-size: 53px;
    }

    #company_desc{
        margin-top: 100%;
        font-size: 12px;
        text-align: center;
        margin-right: 0px;
    }
    .shop-box {
        width: 50%;
        float: none;
        margin: 0 auto;
    }
}