.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav li a{
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #6aaac7;  /*Sets the text hover color on navbar*/
}
.navbar-default .navbar-nav{
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

.navbar-default {
    background-color: #fff;
    border-color: transparent;
    width: 100%;
    border-radius: 0px;
    z-index: 10007;
    border-top: 2px solid #006687;
    border-bottom: 2px solid #006687;
    margin: 5px 0;
    margin-bottom: 10px;
}

.navbar-default .navbar-collapse{
    border-bottom: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    background-color: #fff;
}

.navbar-default .navbar-nav .dropdown-menu > li > a{
    color: #000;
}

.navbar .nav li.dropdown.open > .dropdown-toggle{
    background: #006687;
    color: #fff;
}


.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {color: #000;}

@media only screen and (max-width: 766px) {
    .navbar-default{margin:0px; opacity: 0.8;}
    .navbar-default .navbar-nav{height: 100vh; margin-left: 20px;}
    .navbar-default .navbar-collapse{ border: transparent}
    .navbar {opacity: 0.8;}
    .collapsing, .in {background-color: #fff;
        opacity: 0.8; height: 100%;}
    .navbar-default .navbar-nav > li > a{
        border-bottom: 2px solid #000;
    }
}


.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

