
html,body {
  position: relative;
  min-height: 100%;
  background: #f1f1f1; 
}

h4{
  text-transform: uppercase;
  color: #fff;
}


p{
    font-family: Helvetica, sans-serif;
}

a{text-decoration: none;}

a:hover{
    text-decoration: none;
    color: #006687;
}

ul{list-style: none; margin: 0; padding:0;}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 240px;
  height: 100%;
  background-color: #3a3a3a;
}

input[type="text"]{
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  height: 35px;
  padding: 5px;
}

input[type="password"][name="password"], input[type="password"][name="repassword"]{
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  height: 35px;
  padding: 5px;
}

input[value]{
  color: #c1c1c2;

}

input[type="submit"]{
  width: 150px;
  height: 35px;
  text-transform: uppercase;
  display: block;
  background: #006687;
  color: #fff;
  border: none;
}

input[type="submit"]:hover{
  opacity: 0.6;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


/* HEADER
------------------------------------------------- */

#header_desc{
    background: #fff;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 2px -2px gray;
}

a.company_name{
    font-family: 'Rochester', cursive;
    color: #000;
    font-size: 60px;
}

a.company_name:hover{
    color: #000;
}

#df_name{
    text-align: center;
}

@media screen and (max-width: 400px){
  a.company_name{
    font-size: 50px;
  }
}

@media screen and (max-device-width: 400px){
  a.company_name{
    font-size: 50px;
  }
}


/* HOME
------------------------------------------------- */

.carousel-holder {
    margin-bottom: 30px;
}

.slide-image {
    width: 100%;
}


.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.shopMen{
  background-image: url("../img/home-shop-men.jpg");
  background-size: cover;
  height: 150px;
}

.shopMen:hover, .shopWomen:hover, .shopKids:hover, .shopAccessories:hover, .join:hover, .ourstore:hover{
  opacity: 0.7;
}

.shopMen p, .shopWomen p, .shopKids p, .ourstore p, .join p{
  color: #000;
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
}

.shopWomen{
  background-image: url("../img/home-shop-women.jpg");
  background-size: cover;
  height: 150px; 
}



.shopKids{
  background-image: url("../img/home-shop-kids.jpg");
  background-size: cover;
  height: 150px; 
}

.shopAccessories{
  background: #006687;
  background-size: cover;
  height: 150px;
}

.shopAccessories p{
  color: #000;
  margin-top:22px;
  font-size: 40px;
  text-align: center; 
  line-height: 90%;
}

.shopAccessories .bottomText{
  color: #fff;
}

.ourstore{
  background: #fff;
  background-size: cover;
  height: 150px;
}

.join{
  background: #3a3a3a;
  background-size: cover;
  height: 150px;
}

.join .bottomText{
  color: #fff;
}

.bottomText{
  color: #006687;
}

@media screen and (max-width: 1260px){
  .shopWomen p{
    color: #000;
    margin-top:22px;
    font-size: 40px;
    text-align: center; 
    line-height: 90%;
  }
}

@media screen and (max-width: 500px){
  .shopMen p{
      line-height: 200px;
  }
}




/* HEADER
------------------------------------------------- */
#home, #shop, #about, #signin-wrapper, #shop-wrapper, #cart{
  background: #fff;
  margin: 10px auto;
  min-height: calc(100vh - 435px);
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  box-shadow: 0 3px 2px -2px gray;
}

/* MEN
------------------------------------------------- 
#men{
  background: #fff;
  margin: 10px auto;
  min-height: calc(100vh - 435px);
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  box-shadow: 0 4px 2px -2px gray;
}

/* ABOUT
------------------------------------------------- 
#about{
  background: #fff;
  margin: 10px auto;
  min-height: calc(100vh - 435px);
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  box-shadow: 0 4px 2px -2px gray;
}
/* SIGN IN / JOIN
------------------------------------------------- 
#signin-wrapper{
  background: #fff;
  margin: 10px auto;
  min-height: calc(100vh - 435px);
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  box-shadow: 0 4px 2px -2px gray;
}

/* SIGN IN / JOIN
------------------------------------------------- */


.register input[type="text"], .register input[type="password"]{
  outline: none;
  width: 80%;
  margin-bottom: 10px;
  height: 35px;
  padding: 5px;
}

.signinpadding{
  margin: 10px;
}

.login h4, .newuser h4{
  color: #006687;
}

.login, .newuser{
  min-height: calc(100vh - 500px);
  border: 2px solid #fff;
  margin: 0 auto;
}

.newuser{
  display: table-cell;
  vertical-align: middle;
}
.circle-wrapper{
  overflow: hidden;
  margin: 0 auto;
}

.circle-float{
  margin: 0 auto;
  float:center;
}

.circle{
  margin: 0 auto;
  color: #006687;
}
.required{
  text-align: right;
  text-transform: uppercase;
  font-size: 10px;
}


/* CART CHECKOUT
------------------------------------------------- */
input.checkout-button{
  width: 100%;
  height: 35px;
  text-transform: uppercase;
  display: block;
  background: #006687;
  color: #fff;
  border: none;
}

.checkout-box{
  background: #f1f1f1;
  padding: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.checkout-box hr{
    border: 0;
    border-top: 2px solid #000;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.checkout-box #totalprice, .checkout-box #shipping, .checkout-box #tax, .checkout-box #sub-total{
  float: right;
}

.cart-header{
  background: #3a3a3a;
  color: #fff;
  text-transform: uppercase;
}

.item-cart-header{
  background: #3a3a3a;
  color: #fff;
  text-transform: uppercase;
}

#shopbox-wrapper{
  width: 200px;
  border: 2px solid #000;
  text-align: center;
  padding-top: 5px;
}
/* FOOTER
------------------------------------------------- */

hr{
    border: 0;
    border-top: 2px solid #f1f1f1;
    margin-bottom: 0px;
    padding-bottom: 10px;

}

.footer a{
  color: #fff;
}
.footer a:hover{
  color: #dadada;
}
.footer ul{
  color: #fff;
}
.footer-nav{
  padding: 0 20px;
}
.storeHours{
  padding: 0 20px;
}
.storelocation{
  padding: 0 20px;
}
.copyright{
  color: #fff;
  background: #006687;
  bottom: 0;
  height: 30px;
}