* {
  margin: 0;
}

html, body {
  background: #f1f1f1;
  height: 100%;
  position: relative;
}

header, nav, section, article, footer{display: block;}

p{
    font-family: Helvetica, sans-serif;
}

a{
    color: #000;
    text-align: center;
}

a:hover{
    text-decoration: none;
    color: #006687;
}

ul{list-style: none; margin: 0; padding:0;}

.wrapper {
  min-height: 100%;
  margin: 0 auto -219px; 
  height: auto;
  padding: 0 0 219px;
}


/*************************
* HEADER
**************************/
#header_desc{
    background: #fff;
    width: 100%;
    height: auto;
}

a.company_name{
    font-family: 'Rochester', cursive;
    color: #000;
    font-size: 60px;
}

a.company_name:hover{
    color: #000;
}

#df_name{
    text-align: center;
}

@media screen and (max-width: 400px){
  a.company_name{
    font-size: 50px;
  }
}

@media screen and (max-device-width: 400px){
  a.company_name{
    font-size: 50px;
  }
}

/*************************
* HOME
**************************/

#home{
  background: #fff;
  margin: 10px auto;
  height: 100%;
}

#home2{
  margin-top: 20px;
  height: 100%;
}

/*************************
* SIGN UP/LOGIN
**************************/

#signup{
  background: #fff;
  margin: 10px auto;
  height: 100%;
}

#signup2{
  margin-top: 20px;
  height: 100%;
}

/*************************
* FOOTER
**************************/

hr{
    border: 0;
    border-top: 2px solid #006687;
    margin-bottom: 0px;
    padding-bottom: 10px;

}

.push{
  clear:both;
}
.footer, .wrapperp:after {
  height: 219px; 
}

.footer {
  background: #fff;
  height: 100%;
}

