.shop-toolbar {
	margin: 0 0 12px;
	overflow: hidden;
	background: #F7F7F7;
	padding: 5px;
	border: 1px solid #E6E6E6;
	width: 97.5%;
}
.shop-toolbar .sort {
	float: left;
	width:20.5%;
}
.sort{
	padding: 3px 8px;
}
.sort-by{
	color:#777;
	font-size:0.85;
}
.mens-toolbar .pager {
	padding: 3px 8px;
	float: right;
	margin: 0;
	width:26.5%;
}
.pager .limiter {
	float: right;
	color:#777;
	font-size:0.85em;
}
.pager .limiter label {
	vertical-align: middle;
}
.pager .limiter select {
	padding: 0;
	margin: 0 0 1px;
	vertical-align: middle;
}
.pager .pages {
	margin: 0 30px 0 0;
	float: right;
}
.pager .pages ol {
	display: inline;
}

h3.page{
	float:left;
}
.pager .pages ul li{
	float:left;
}
ul.dc_pagination li {
	float: left;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
}
ul.dc_pagination li a {
	color: #777;
	display: block;
	padding: 2px 4px 0px 0px;
	text-decoration: none;
	font-size: 0.85em;
}
ul.dc_pagination li a:hover{
	color:#555;
}

.product_img{
	width: 190px;
	height: 250px;
}