*{
    margin: 0;
}

html, body{
    background: #f1f1f1;
    height: 100%;    
    position: relative;
}

header, nav, section, footer{display: block;}

p{
    font-family: Helvetica, sans-serif;
}

a{
    color: #000;
    text-align: center;
}

a:hover{
    text-decoration: none;
    color: #006687;
}


#header_desc{
    background: #fff;
    width: 100%;
    height: auto;
}

a.company_name{
    font-family: 'Rochester', cursive;
    color: #000;
    font-size: 60px;
}

a.company_name:hover{
    color: #000;
}

#df_name{
    text-align: center;
}


#home{
    display: block;
    height: auto;
    position: relative;
    width: 100%;
    margin: 10px auto;
    background: #fff;
    height: 100%;
    min-height: calc(100vh-140px);
}

#home2{
    margin-top: 30px;
    position: relative;
}

.bottomText{
    color: #006687;
}


hr{
    display: block;
    border: 0;
    border-top: 2px solid #006687;
    margin-bottom: 0px;
    padding-bottom: 10px;

}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}


#footer_wrapper{
    background-color: #fff;
}