/* track progress
---------------------------*/
.track-progress li.done + li > span:before {
  border-left-color: #ccc;
}

.track-progress li:first-child > span:after,
.track-progress li:first-child > span:before {
  display: none;
}

.track-progress {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.track-progress li {
  list-style-type: none;
  display: inline-block;

  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 30px;
  height: 30px;
  background-color: #f0f0f0;
}



.track-progress li:first-child i,
.track-progress li:last-child i {
  display: block;
  height: 0;
  width: 0;

  position: absolute;
  top: 0;
  left: 0;

  border: solid transparent;
  border-left-color: white;
  border-width: 15px;
}

.track-progress li:last-child i {
  left: auto;
  right: -15px;

  border-left-color: transparent;
  border-top-color: white;
  border-bottom-color: white;
}


.track-progress[data-steps="4"] li { width: 220px; }


.track-progress li > span {
  display: block;

  color: #999;
  font-weight: bold;
  text-transform: uppercase;
}

.track-progress li.done > span {
  color: #666;
  background-color: #ccc;
}

.track-progress li > span:after,
.track-progress li > span:before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;

  position: absolute;
  top: 0;
  left: 0;

  border: solid transparent;
  border-left-color: #f0f0f0;
  border-width: 15px;
}

.track-progress li > span:after {
  top: -5px;
  z-index: 1;
  border-left-color: white;
  border-width: 20px;
}

.track-progress li > span:before {
  z-index: 2;
}

@media screen and (max-width: 900px){
  .track-progress{
    font-size: 10px;
  }
  .track-progress[data-steps="4"] li { width: 140px; }
}

@media screen and (max-width: 400px){
  .track-progress{
    font-size: 13px;
  }
  .track-progress[data-steps="4"] li { width: 360px; }

}

/*
---------------------------------*/
/* PRODUCT GRID
--------------------- */



ul.cart-item-grid li img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

ul.cart-item-grid li p {
  font-size: 1.6em;
  line-height: 1.3em;
  color: #000;
}

ul.cart-item-grid {
  list-style: none;
  font-size: 0px;
  margin-left: -0.5%; /* should match li left margin */
}
ul.cart-item-grid li {
  display: inline-block;
  padding: 10px;
  margin: 0 0 2.5% 0;
  background: #f1f1f1;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  width: 100%;
}


@media (max-width: 480px) {
  ul.grid-nav li {
    display: block;
    margin: 0 0 5px;
  }
  ul.grid-nav li a {
    display: block;
  }
  ul.cart-item-grid {
    margin-left: 0;
  }
  ul.cart-item-grid li {
    width: 100% !important; /* over-ride all li styles */
    margin: 0 0 20px;
  }
}




